*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --font-josefin: 'Josefin Sans', sans-serif;
  --font-alata: 'Alata', sans-serif;
  --color-white: white;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 800px;
}
.header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-self: center;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-image: url(../assets/images/mobile/image-hero.jpg);
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url(../assets/images/desktop/image-hero.jpg);
  }
}
.header-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
  position: absolute;
  top: 0;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header-top {
  }
}
.logo {
  width: 144px;
  height: 24px;
}
.main-menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  gap: 40px;
  letter-spacing: 2px;
  font-size: 25px;
  font-family: var(--font-josefin);
  color: var(--color-white);
  background-color: black;
}
@media screen and (min-width: 768px) {
  .main-menu {
    height: auto;
    top: 45px;
    flex-direction: row;
    justify-content: end;
    padding-left: 0;
    padding-right: 100px;
    gap: 10px;
    transform: translateX(0);
    letter-spacing: 0;
    font-size: 15px;
    background-color: transparent;
  }
}
@media screen and (min-width: px) {
  .burguer {
    display: none;
  }
}
.hide {
  display: none;
}
.banner {
  width: 327px;
  height: 196px;
  margin: auto;
  padding-left: 20px;
  border: 5px white solid;
  font-family: var(--font-josefin);
  font-size: 20px;
  color: var(--color-white);
}
@media screen and (min-width: 1440px) {
  .banner {
    width: 650px;
    height: 278px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    font-size: 35px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
.container__photo {
  width: 327px;
}
@media screen and (min-width: 768px) {
  .container__photo {
    width: 731px;
    margin-right: 200px;
  }
}
.container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 30px;
}
@media screen and (min-width: 768px) {
  .container__text {
    width: 541px;
    height: 317px;
    position: absolute;
    left: 600px;
    bottom: 0;
    background-color: rgb(255, 255, 255);
  }
}
.title {
  font-size: 40px;
  font-family: var(--font-josefin);
}
.container__paragraph {
  font-family: var(--font-alata);
  color: rgba(128, 128, 128, 0.655);
}
.cards {
  margin: 0 40px;
}
.card {
  position: relative;
  width: 327px;
}
.card__title {
  position: absolute;
  top: 50px;
  padding-left: 20px;
  font-family: var(--font-josefin);
  color: var(--color-white);
}
/*text-tranform:uppercase*/
/* a ambas cajas position relative y al texto de la imagen position absolute, */
